{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.desc | truncatewords:155 }}
    {% else %}
        Welcome to E-commerce easy solutions........
    {% endif %}
{% endblock %}

{% block title %}
{% if category %}
        {{category.name}}  ----- E-commerece easy soln
    {% else %}
        See our
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div>
                <p><a href = "{% url 'ecom_app:allProdCat' %}">Our Prodcut Collection </a> </p>
            </div>
        </div>
    {% endif %}
<div>
    {% if category %}
        <img src ="{{category.image.url}}" alt = "{{category.name}}">
</div>
    <br>
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.desc}}</p>
</div>
{% else %}
<div>
<img src ="{% static 'banner.png' %}" alt="our products" width="1300" height="600">
</div>
<br>
<div>
    <h1>Our product Collection</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
</div>
{% endif %}

<div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
